/*---- Generelle indstillinger ------ */

* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    padding: 0;
    font-family: 'Times New Roman', sans-serif;
    background-color: #f4eee7;

}

img {
    width: 100%;
}

section {
    width: 100%;
    margin: 0 auto;
}

sectionwrapper {
    margin-top: 0;
}


/*---- Generelle indstillinger slut ------ */

/*---- forside ------ */

#splash {
    width: 100%;
    height: 100vh;
    background-image: url(billeder/splashmobile.png);
    background-size: 100%;
    background-repeat: no-repeat;

}

@media only screen and (min-width: 600px) {
    #splash {
        background-image: url(billeder/splash1.png);
    }
}

#forside .col {
    display: flex;
    flex-direction: column;
    flex-grow: 3;
    flex-basis: 200px;
    padding: 3vw;
    margin: 3vw;
    background-color: white;
    opacity: 75%;
}


/***--------------Menu-----------***/

header {
    width: 100vw;
    background-color: #fcf8f3;
    opacity: 80%;
}

header nav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

header nav a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 100;
}

header a {
    padding: 0.5rem;
    display: flex;
    color: #817f7f;
}

header nav a:visited {
    color: #817f7f;
}

.hidden {
    transform: translateX(-100%);
    opacity: 0;
    display: none;
}

#menuknap {
    display: inline-block;
    color: black;
    margin: 0.5rem;
}


/***--------------Menu SLUT-----------***/

#om {
    background-size: cover;
    margin: 1rem;
    display: flex;
    flex-wrap: wrap;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

#om .sectionwrapper {
    display: flex;
    flex-wrap: wrap;
    margin: 1rem;


}

#om .col {
    flex-grow: 1;
    flex-basis: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 0.8rem 0.6rem;
    margin: 1rem;
    background-color: white;
    opacity: 80%;
    align-items: center;

}

#om h1 {
    font-size: 2rem;
    font-weight: 100;
    color: #5c5858;
    letter-spacing: 0.2rem;
    border-bottom: solid;
    border-bottom-color: #5c5858;
    margin: 2rem;

}

#om h3 {
    letter-spacing: 0.1rem;
    margin: 2rem;
    line-height: 2.5;
    font-size: 1.5rem;
    font-weight: 100;
    color: #5c5858;
}

#om p {
    letter-spacing: 0.1rem;
    margin: 2rem;
    flex-wrap: wrap;
    line-height: 2.5;
    font-weight: 100;

}

#om img {
    border: 10px solid white;
    width: 40vw;
    height: 57vw;
    filter: brightness(1.1);

}

#kontakt .sectionwrapper {
    display: flex;
    flex-wrap: wrap;
    margin: 1rem;

}

#kontakt .col {
    flex-grow: 1;
    flex-basis: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 0.8rem 0.6rem;
    margin: 1rem;
    background-color: white;
    opacity: 80%;
    align-items: center;

}



#kontakt h1 {

    font-size: 3rem;
    font-weight: 100;
    color: #5c5858;
    letter-spacing: 0.2rem;
    border-bottom: solid;

}

#kontakt p {
    letter-spacing: 0.1rem;
    font-weight: 100;
    display: flex;
    text-align: center;
    line-height: 2rem;



}

footer {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    margin: 1vw;
}


/***--------------CV START-----------***/

#cv {
    background-image: url(billeder/mal.jpg);
    background-size: cover;


}

#cv .sectionwrapper {
    display: flex;
    flex-wrap: wrap;
    margin: 1rem;

}

#cv .col {
    display: flex;
    flex-direction: column;
    flex-grow: 2;
    flex-basis: 400px;
    padding: 3vw;
    margin: 3vw;
    background-color: white;
    opacity: 70%;
}

#cv h1 {
    font-size: 3rem;
    font-weight: 100;
    display: flex;
    position: absolute;
    color: #5c5858;
    letter-spacing: 0.2rem;
    text-align: center;
    padding: 0vw 3vw 0vw;
    margin: 1rem;

}

#cv h2 {
    color: #333030;
    letter-spacing: 0.2rem;
}

#cv h3 {
    color: #3b3a3a;
    letter-spacing: 0.2rem;
}

#cv p {
    color: #5c5858;
    letter-spacing: 0.1rem;
    line-height: 2rem;
}

#cv li {
    color: #5c5858;
    letter-spacing: 0.2rem;

}

@media only screen and (min-width:200px) {
    #forside {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }


    /***--------PORTFOLIO START---------***/

    #portfolio {
        background-image: url(billeder/mal.jpg);
        background-size: cover;



    }

    #portfolio .sectionwrapper {
        display: flex;
        flex-wrap: wrap;
        margin: 1rem;

    }

    #portfolio .col {
        display: flex;
        flex-direction: column;
        flex-grow: 2;
        flex-basis: 400px;
        padding: 3vw;
        margin: 3vw;
        background-color: white;
        opacity: 70%;

    }

    #portfolio h1 {
        font-size: 3rem;
        font-weight: 100;
        display: flex;
        position: absolute;
        color: #5c5858;
        letter-spacing: 0.2rem;
        padding: 0vw 3vw 0vw;
        text-align: center;
        margin: 1rem;

    }

    #portfolio h2 {
        font-size: 1rem;
        font-weight: 100;
        display: flex;
        position: absolute;
        color: #5c5858;
        letter-spacing: 0.2rem;

    }


    #portfolio a {
        text-decoration: none;
        font-family: 'Times New Roman', sans-serif;
        font-weight: 100;
        color: #5c5858;
        /*   background-color: palegoldenrod;*/
        padding: 10px;


    }

    #portfolio a:hover {
        color: black;

    }

    #portfolio img {
        border: 5px solid #aca9a9;
        width: 35vw;
        height: 25vw;
    }



    /***--------------WEB START-----------***/

    #web {
        background-image: url(billeder/mal.jpg);
        background-size: contain;
        position: absolute;
    }

    #web .col {
        display: flex;
        flex-direction: column;
        flex-grow: 2;
        flex-basis: 400px;
        padding: 3vw;
        margin: 3vw;
        background-color: white;
        opacity: 85%;
        line-height: 1.5rem;

    }

    #web .sectionwrapper {
        display: flex;
        flex-wrap: wrap;


    }

    #web h1 {
        font-size: 3rem;
        font-weight: 100;
        color: #5c5858;
        letter-spacing: 0.2rem;
        margin: 3vw;


    }

    #web h2 {
        font-size: 2rem;
        font-weight: 100;
        color: #5c5858;
        letter-spacing: 0.2rem;

    }

    #web p {
        color: #5c5858;
        letter-spacing: 0.1rem;
        line-height: 2rem;

    }

    #web img {
        width: 500px;
        border: 5px solid #aca9a9;


    }

    #web a {
        text-decoration: none;
        font-family: 'Times New Roman', sans-serif;
        font-weight: 100;
        color: #5c5858;
        padding: 10px;
        border: 1px solid #7b7676;

    }

    #web a:hover {
        color: black;
        background-color: #f4eee7;
    }


    /***--------------UX START-----------***/


    #ux {
        background-image: url(billeder/mal.jpg);
        background-size: cover;
        position: absolute;
    }

    #ux .col {
        display: flex;
        flex-direction: column;
        flex-grow: 2;
        flex-basis: 400px;
        padding: 3vw;
        margin: 3vw;
        background-color: white;
        opacity: 90%;
        line-height: 1.5rem;

    }

    #ux .sectionwrapper {
        display: flex;
        flex-wrap: wrap;


    }

    #ux h1 {
        font-size: 3rem;
        font-weight: 100;
        color: #5c5858;
        letter-spacing: 0.2rem;
        margin: 3vw;
    }

    #ux h2 {
        font-size: 2rem;
        font-weight: 100;
        color: #5c5858;
        letter-spacing: 0.2rem;

    }

    #ux p {
        color: #5c5858;
        letter-spacing: 0.1rem;
        line-height: 2rem;

    }

    #ux img {
        width: 300px;
        border: 5px solid #aca9a9;

    }

    #ux a {
        text-decoration: none;
        font-family: 'Times New Roman', sans-serif;
        font-weight: 100;
        color: #5c5858;
        /*   background-color: palegoldenrod;*/
        padding: 10px;
        border: 1px solid #7b7676;

    }

    #ux a:hover {
        color: black;
        padding: 10px;
        background-color: #f4eee7;
    }

    /***----------ANIMATION START--------***/


    #animation {
        background-image: url(billeder/mal.jpg);
        background-size: cover;
        position: absolute;
    }

    #animation .col {
        display: flex;
        flex-direction: column;
        flex-grow: 2;
        flex-basis: 400px;
        padding: 3vw;
        margin: 3vw;
        background-color: white;
        opacity: 85%;
        line-height: 1.5rem;
    }

    #animation .sectionwrapper {
        display: flex;
        flex-wrap: wrap;
    }

    #animation h1 {
        font-size: 3rem;
        font-weight: 100;
        color: #5c5858;
        letter-spacing: 0.2rem;
        margin: 3vw;


    }

    #animation h2 {
        font-size: 2rem;
        font-weight: 100;
        color: #5c5858;
        letter-spacing: 0.2rem;

    }

    #animation p {
        color: #5c5858;
        letter-spacing: 0.1rem;
        line-height: 2rem;

    }

    #animation img {
        width: 500px;
        border: 5px solid #aca9a9;
    }

    #animation a {
        text-decoration: none;
        font-family: 'Times New Roman', sans-serif;
        font-weight: 100;
        color: #5c5858;
        /*   background-color: palegoldenrod;*/
        padding: 10px;
        border: 1px solid #7b7676;

    }

    #animation a:hover {
        color: black;
        background-color: #f4eee7;
    }

    /***----------INDHOLD START--------***/

    #indhold {
        background-image: url(billeder/mal.jpg);
        background-size: cover;
        position: absolute;
    }

    #indhold .col {
        display: flex;
        flex-direction: column;
        flex-grow: 2;
        flex-basis: 400px;
        padding: 3vw;
        margin: 3vw;
        background-color: white;
        opacity: 85%;
    }

    #indhold .sectionwrapper {
        display: flex;
        flex-wrap: wrap;
    }

    #indhold h1 {
        font-size: 3rem;
        font-weight: 100;
        color: #5c5858;
        letter-spacing: 0.2rem;
        margin: 3vw;


    }

    #indhold h2 {
        font-size: 2rem;
        font-weight: 100;
        color: #5c5858;
        letter-spacing: 0.2rem;

    }

    #indhold p {
        color: #5c5858;
        letter-spacing: 0.1rem;
        line-height: 2rem;


    }

    #indhold img {
        width: 500px;
        border: 5px solid #aca9a9;
    }

    #indhold a {
        text-decoration: none;
        font-family: 'Times New Roman', sans-serif;
        font-weight: 100;
        color: #5c5858;
        /*   background-color: palegoldenrod;*/
        padding: 10px;
        border: 1px solid #7b7676;

    }

    #indhold a:hover {
        color: black;
        background-color: #f4eee7;
    }

    /** Dynamisk web start **/

    #dynamiskweb {
        background-image: url(billeder/mal.jpg);
        background-size: cover;
        position: absolute;
    }

    #dynamiskweb .col {
        display: flex;
        flex-direction: column;
        flex-grow: 2;
        flex-basis: 400px;
        padding: 3vw;
        margin: 3vw;
        background-color: white;
        opacity: 85%;
    }

    #dynamiskweb .sectionwrapper {
        display: flex;
        flex-wrap: wrap;
    }

    #dynamiskweb h1 {
        font-size: 3rem;
        font-weight: 100;
        color: #5c5858;
        letter-spacing: 0.2rem;
        margin: 3vw;


    }

    #dynamiskweb h2 {
        font-size: 2rem;
        font-weight: 100;
        color: #5c5858;
        letter-spacing: 0.2rem;

    }

    #dynamiskweb p {
        color: #5c5858;
        letter-spacing: 0.1rem;
        line-height: 2rem;


    }

    #dynamiskweb img {
        width: 500px;
        border: 5px solid #aca9a9;
    }

    #dynamiskweb a {
        text-decoration: none;
        font-family: 'Times New Roman', sans-serif;
        font-weight: 100;
        color: #5c5858;
        /*   background-color: palegoldenrod;*/
        padding: 10px;
        border: 1px solid #7b7676;

    }

    #dynamiskweb a:hover {
        color: black;
        background-color: #f4eee7;
    }


    /**** media INDSTILLINGER **/

    @media only screen and (min-width:800px) {

        #menuknap {
            display: none;
        }

        .hidden {
            transform: translateX(0);
            opacity: 1;
            display: inline-block;
        }

        header li {
            display: inline-block;
            letter-spacing: 5px;
            color: #817f7f;

        }

        header nav {
            padding: 0.1rem;
        }

        header nav li {
            background-color: transparent;
            text-decoration: none;
            color: #817f7f;
        }
    }
}
